@charset "UTF-8";
/*css para tela*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
header{
    background-color: lightblue;
}
header > h1 {
    text-align: center;
}
menu ul{
    list-style-type:none;
    background-color: #65b7d3;
    color:white;
}
menu li {
    display: inline-block;
    padding: 10px;
    background-color: #0d92be;
    
}
menu a{
    color:white;
    text-decoration: none;
}
article{
    width:600px;
    display: block;
    margin: auto;
    text-align: justify;
    text-indent: 50px;
}